body {
background: black;
color: red;
}

.videospequenos img {
    height: 200px;
    opacity: o.5;
}

.videospequenos {
    overflow-x: auto;
    display: flex;
    gap: 10px;
}

.videospequenos img:hover {
    opacity: 1.0;
    border: 5px solid rgb(128, 8, 8);
}

header {
    font-size: 40px;
}